fastapi==0.115.12
uvicorn[standard]==0.34.0
python-multipart==0.0.20
numpy==1.26.4
scikit-learn==1.6.1
joblib==1.5.1
Pillow==11.2.1
httpx==0.28.1
scipy==1.15.3
trimesh==4.6.4
einops==0.8.0
transformers==4.47.0
accelerate==1.2.1
timm==1.0.15
opencv-python-headless==4.10.0.84
rembg==2.0.57
onnxruntime==1.17.3
kornia==0.7.3
ultralytics==8.3.145
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1+cpu
torchvision==0.18.1+cpu
sam2
shapely==2.0.6
huggingface_hub>=0.24.0
rdp==0.8

